.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-content: space-between; */
}
.card{
    margin-top: 15px;
    width: 200px !important;
}
.card.active{
    border: 0px;
}
.card h5{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}